.Timer {

}

.Timer-body {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-color: #eeeeee;*/
}

.Timer-body > div {

}
